{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="game-title">Games Wiki</h2>
    {% if games %}
        <div class="list-group">
            {% for game in games %}
                <a href="{{ url_for('game_detail', game_id=game.id) }}" class="list-group-item list-group-item-action">
                    {{ game.title }} - {{ game.genre }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No games added yet.</p>
    {% endif %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('add_game') }}" class="btn btn-success mt-3">Add New Game</a>
    {% endif %}
</div>
{% endblock %}